
*{
    border: thin solid red;
}
.bar {
    background-color: powderblue;
    float:left;
    margin:0.1px;
    position: relative;
    transition: 0.5s all ease;
  }


input,label{
    display: block;
}

#controls-container{
    display: flex;
}
#slider-container{
    display: block;
    margin-right: 10em;
}
#buttons-container >button{
    margin-right: 3em;
}

button{
    display: inline;
    height: 40px;
    width: 150px;
}

body {
      max-width: 100em;
      margin:0 auto;
      background: white;
      padding: 10px;
}
  